IF OBJECT_ID('dbChamCong', 'P')IS NOT NULL
	DROP PROC dbChamCong
GO

IF DB_ID('dbChamCong') IS NULL 
	CREATE DATABASE dbChamCong
GO


GO
USE dbChamCong
GO
/****** Object:  Table [dbo].[tbChamCong_ChamCong_Fulltime]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_ChamCong_Fulltime](
	[MaCCFT] [int] IDENTITY(1,1) NOT NULL,
	[MaNVFT] [int] NULL,
	[MaTC] [int] NULL,
	[MaNL] [int] NULL,
	[MaNN] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChamCong_ChamCong_Parttime]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_ChamCong_Parttime](
	[MaCCFT] [int] IDENTITY(1,1) NOT NULL,
	[MaNVPT] [int] NULL,
	[NgayCC] [datetime] NULL,
	[SoGioLam] [int] NULL,
	[NgayLe] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChamCong_ChucVu]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_ChucVu](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[tbChamCong_DangNhap]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbChamCong_DangNhap](
	[MaDN] [int] IDENTITY(1,1) NOT NULL,
	[User] [char](10) NULL,
	[Password] [char](20) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbChamCong_NgayLe]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_NgayLe](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[NgayLe] [datetime] NULL,
	[SoGioLam] [int] NULL,
	[Check] [float] NULL,
	[SoGioTangCa] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChamCong_NgayNghi]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_NgayNghi](
	[MaNN] [int] IDENTITY(1,1) NOT NULL,
	[MaNVFT] [int] NULL,
	[NgayNghi] [datetime] NULL,
	[CoPhep] [float] NULL,
	[LyDo] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChamCong_NhanVien_Fulltime]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbChamCong_NhanVien_Fulltime](
	[MaNVFT] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [char](11) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbChamCong_NhanVien_Fulltime_ChiTiet]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_NhanVien_Fulltime_ChiTiet](
	[MaNVFT] [int] NOT NULL,
	[MaPB] [int] NULL,
	[MaCV] [int] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChamCong_NhanVien_Parttime]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbChamCong_NhanVien_Parttime](
	[MaNVPT] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [char](11) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbChamCong_PhongBan]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_PhongBan](
	[MaPB] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongBan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChamCong_TangCa]    Script Date: 03/15/2018 01:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChamCong_TangCa](
	[MaTC] [int] IDENTITY(1,1) NOT NULL,
	[NgayTangCa] [datetime] NULL,
	[SoGioLam] [int] NULL,
	[Check] [float] NULL,
	[SoGioTangCa] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
